// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  @include easeInOut;

  .btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeInOut;
  }

  // Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
