// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Sm Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../img/Me.jpg);
      background-size: cover;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "job-1"
      "job-2"
      "job-3";

    grid-template-columns: 1fr;
  }

  .projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      font-size: 5rem;
    }
  }

  .projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}
